<!doctype html>
<html>
<head>
    <title>Humans</title>
    <script src="http://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="javascripts/actions.js" type="text/javascript"></script>
</head>
<body>
{{{body}}}
</body>
</html>