<!doctype html>
<html>
<head>
    <title>Humans</title>
    <script src="http://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="http://d3js.org/d3.v3.min.js"></script>
    <script src="javascripts/timer.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.3/socket.io.js"></script>
    <script src="http://www.samsarin.com/project/graphlib/latest/graphlib.min.js"></script>
    <script src="javascripts/actions.js" type="text/javascript"></script>
    <script src="javascripts/animation.js" type="text/javascript"></script>
    <script src="javascripts/plan_drawing.js" type="text/javascript"></script>
    <link rel="stylesheet" href="stylesheets/tree.css">
    <!-- Kube CSS -->
    <link rel="stylesheet" href="stylesheets/kube.min.css">
    <!-- personnal CSS -->
    <link rel="stylesheet" href="stylesheets/style.css">
</head>
<body>
{{{body}}}
</body>
</html>