<!doctype html>
<html>
<head>
    <title>Jail</title>
    <script src="http://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="http://d3js.org/d3.v3.min.js"></script>
    <script type="text/javascript" src="javascripts/phaser.min.js"></script>
    <script type="text/javascript" src="javascripts/game.js"></script>
    <link rel="stylesheet" href="stylesheets/tree.css">
    <!-- Kube CSS -->
    <link rel="stylesheet" href="stylesheets/kube.min.css">
    <!-- personnal CSS -->
    <link rel="stylesheet" href="stylesheets/style.css">
</head>
<body>
{{{body}}}
</body>
</html>