<div id="game" class="upper">
    <div id="canvascontainer"></div>
</div>
<div class="lower">Game text
    <button onclick="openDoorA()">Open Door A</button>
    <button onclick="closeDoorA()">Close Door A</button>
</div>