<div style="width: 100%;">
    <div id="tree" style="float:left; width: 80%">
        {{{content}}}
    </div>
    <div style="float:right;">
        <button id="button_1" value="val_1" name="but1">test</button>
    </div>
</div>