<div style="width: 100%;">
    <div id="tree" style="float:left; width: 70%">
        {{{content}}}
    </div>
    <div style="float:right;">
        <div>
            <button id="button_1" value="trigger" name="but1">trigger</button>
            <button id="button_2" value="ack" name="but1">ack</button>
        </div>

        <div>
            <form method="post">
                <select id="nurse">
                    <option value="nurse1">nurse1</option>
                </select>
                <select id="action">
                </select>
                <select id="part">
                </select>
                <select id="victim">
                    <option value="patient1">patient1</option>
                </select>
                <input action="gotoandanimate" type="submit" value="execute">
            </form>
        </div>

        <div>
            <form method="post">
                <select id="nurse_take">
                    <option value="nurse1">nurse1</option>
                </select>
                prend
                <select id="object_take">
                    <option value="tourniquet_pneumatic1">tourniquet pneumatique 1</option>
                </select>
                <input action="gotoandtake" type="submit" value="execute">
            </form>
        </div>

        <div>
            <form method="post">
                <select id="open_close_action">
                    <option value="open">open</option>
                    <option value="close">close</option>
                </select>
                <select id="object_case">
                    <option value="box1_case1">box1 case1</option>
                    <option value="box1_case2">box1 case2</option>
                </select>
                <input action="openclose" type="submit" value="execute">
            </form>
        </div>
    </div>
</div>