<div style="width: 100%;">
    <div id="tree" style="float:left; width: 65%">
        {{{content}}}
    </div>
    <div style="float:right;">
        <div>
            <button id="button_1" value="trigger" name="but1">trigger</button>
            <button id="button_2" value="ack" name="but1">ack</button>
        </div>

        <div>
            Actions:
        </div>

        <div>
            <form method="post">
                <select id="nurse">
                    <option id="uri" value="Nurse">Nurse</option>
                </select>
                <select id="action">
                </select>
                <select id="part">
                </select>
                <select id="uri_victim">
                    <option id="uri" value="Patient">Patient</option>
                </select>
                <input action="gotoandanimate" type="submit" value="execute">
            </form>
        </div>

        <div>
            <form method="post">
                <select id="nurse_take">
                    <option id="uri" value="Nurse">Nurse</option>
                </select>
                prend
                <select id="uri_object_take">
                    <option id="uri" value="Tourniquet_Pneumatic:Tourniquet_Normal:Bandage_Hemostatic">Object</option>
                </select>
                <input action="gotoandtake" type="submit" value="execute">
            </form>
        </div>

        <div>
            Attributes:
        </div>

        <div>
            <form method="post">
                <select id="attr">
                </select>
                <select id="attr_value">
                </select>
                <select id="attr_object">
                </select>
                <input action="attribute" type="submit" value="execute">
            </form>
        </div>
    </div>
</div>