<div id="error_msg" style="color:red;text-align: center;font-size: large"></div>
<div style="height:720px;">
    <div style="width:30%;margin-right:2%;float:left;">
        <div id="header">
            Plan
        </div>
        <div id="treeplan">

        </div>
    </div>


    <div style="width:38%;margin-right:2%;float:left;">
        <div id="header">
            Storyline
        </div>

        <div id="storyline" style="border: 1px solid #000;">
            <ul id="storylinelist"></ul>
        </div>
    </div>


    <div style="width:28%;float:right;">
        <div id="header">
            Commandes
        </div>

        <div id="command">

            <p style="text-align: center;">
                Actions
            </p>

            <div>
                <form method="post" class="form">
                    <div class="row auto">
                        <div class="col">
                            <select id="nurse" class="small">
                                <option id="uri" value="Nurse">Nurse</option>
                            </select>
                        </div>
                        <div class="col">
                            <select id="action" class="small"></select>
                        </div>
                        <div class="col">
                            <select id="part" class="small"></select>
                        </div>
                        <div class="col">
                            <select id="victim" class="small">
                                <option id="uri" value="Patient">Patient</option>
                            </select>
                        </div>
                        <div class="col">
                            <button name="gotoandanimate" type="submit" class="button upper outline small">Execute</button>
                        </div>
                    </div>
                </form>
            </div>

            <div>
                <form method="post" class="form">
                    <div class="row auto">
                        <div class="col">
                            <select id="nurse_take" class="small">
                                <option id="uri" value="Nurse">Nurse</option>
                            </select>
                        </div>
                        <div class="col">
                            <p style="text-align: center;margin-top: 0.15cm;font-size: 120%;">
                            take
                            </p>
                        </div>
                        <div class="col">
                            <select id="uri_object_take" class="small">
                                <option id="uri" value="Tourniquet_Pneumatic:Tourniquet_Normal:Bandage_Hemostatic">Object</option>
                            </select>
                        </div>
                        <div class="col">
                            <button name="gotoandtake" type="submit" class="button upper outline small">Execute</button>
                        </div>
                    </div>
                </form>
            </div>

            <p style="text-align: center;">
                Attributes
            </p>

            <div>
                <form method="post" class="form">
                    <div class="row auto">
                        <div class="col" >
                            <select id="attr" class="small">
                            </select>
                        </div>
                        <div class="col">
                            <select id="attr_value" class="small">
                            </select>
                        </div>
                        <div class="col">
                            <select id="attr_object" class="small">
                            </select>
                        </div>
                        <div class="col">
                            <button name="attribute" type="submit" class="button upper outline small">Execute</button>
                        </div>
                    </div>
                </form>
            </div>
            <button style="width: 100%" name="start" type="submit" class="button upper outline small">Start scénario</button>
        </div>
    </div>
</div>