<div style="width:1200px;height:720px;">
    <div id="header" style="width:780px;float:left;border: 1px solid #000;">
        Storyline
    </div>
    <div id="header" style="width:400px;float:right;border: 1px solid #000;">
        Commandes
    </div>

    <div id="tree" style="float:left; width: 65%">
        {{{content}}}
    </div>
    <div id="command" style="float:right;">
        <!--<div>
            <button id="button_1" value="trigger" name="but1">trigger</button>
            <button id="button_2" value="ack" name="but1">ack</button>
        </div>-->

        <p style="text-align: center;">
            Actions
        </p>

        <div>
            <form method="post" class="form">
                <div class="row auto">
                    <div class="col">
                        <select id="nurse" class="small">
                            <option id="uri" value="Nurse">Nurse</option>
                        </select>
                    </div>
                    <div class="col">
                        <select id="action" class="small"></select>
                    </div>
                    <div class="col">
                        <select id="part" class="small"></select>
                    </div>
                    <div class="col">
                        <button name="gotoandanimate" type="submit" class="button upper outline small">Execute</button>
                    </div>
                </div>
            </form>
        </div>

        <div>
            <form method="post" class="form">
                <div class="row auto">
                    <div class="col">
                        <select id="nurse_take" class="small">
                            <option id="uri" value="Nurse">Nurse</option>
                        </select>
                    </div>
                    <div class="col">
                        <p style="text-align: center;margin-top: 0.15cm;font-size: 120%;">
                        take
                        </p>
                    </div>
                    <div class="col">
                        <select id="uri_object_take" class="small">
                            <option id="uri" value="Tourniquet_Pneumatic:Tourniquet_Normal:Bandage_Hemostatic">Object</option>
                        </select>
                    </div>
                    <div class="col">
                        <button name="gotoandtake" type="submit" class="button upper outline small">Execute</button>
                    </div>
                </div>
            </form>
        </div>

        <p style="text-align: center;">
            Attributes
        </p>

        <div>
            <form method="post" class="form">
                <div class="row auto">
                    <div class="col">
                        <select id="attr" class="small">
                        </select>
                    </div>
                    <div class="col">
                        <select id="attr_value" class="small">
                        </select>
                    </div>
                    <div class="col">
                        <select id="attr_object" class="small">
                        </select>
                    </div>
                    <div class="col">
                        <button name="attribute" type="submit" class="button upper outline small">Execute</button>
                    </div>
                </div>
            </form>
        </div>

    </div>
</div>