div#command {
  height: 700px;
  border: 1px solid #000;
  overflow : auto;
}

div#storyline {
  height: 700px;
  border: 1px solid #000;
  overflow : auto;
}

div#treeplan {
  height: 700px;
  border: 1px solid #000;
  overflow : auto;
}

div#header {
  color: #ffffff;
  font-size: 140%;
  height:25px;
  text-align: center;
  vertical-align: middle;
  background-color: #8c60ff;
  border: 1px solid #000;
}

ul#storylinelist {
  margin: 0px;
}

ul#storylinelist li {
  list-style: none;
  border: 1px solid #000;
  border-width:thin;
  padding-left:1em;
  //background-color:lightgray;
}