body{
    width:1400px;
    margin:10px auto;
}
/*ellipse{
    fill:white;
    stroke:steelblue;
    stroke-width:2px;
}*/
line{
    //stroke:grey;
    stroke-width:2px;
}
#treesvg g text:hover, #treesvg g rectangle:hover{
    cursor:pointer;
}
#navdiv{
    background:#555;
}
#labelpos{
    color:white;
}
#navdiv button, #navdiv textarea{
    vertical-align:middle;
}
#g_labels text{
    text-anchor:middle;
}
#g_elabels text{
    text-anchor:middle;
    fill:red;
    font-weight:bold;
}

#g_timer circle {
    stroke-dasharray: 113px;
    stroke-dashoffset: 0px;
    stroke-linecap: round;
    stroke-width: 2px;
    stroke: green;
    fill: none;
    animation: countdown 10s linear forwards;
}

/*#g_rectangles_timer rect{
    stroke-dasharray: 113px;
    stroke-dashoffset: 0px;
    stroke-linecap: round;
    stroke-width: 2px;
    stroke: green;
    fill: none;
    animation: countdown 10s linear forwards;
}*/

/*@keyframes countdown {
    from {
        stroke-dashoffset: 113px;
    }
    to {
        stroke-dashoffset: 0px;
    }
}*/