body{
    width:960px;
    margin:10px auto;
}
/*ellipse{
    fill:white;
    stroke:steelblue;
    stroke-width:2px;
}*/
div#tree {
    height: 600px;
    border: 1px solid #000;
    /*border:1px solid #000;*/
    overflow : auto;
}
line{
    stroke:grey;
    stroke-width:3px;
}
#treesvg g text:hover, #treesvg g circle:hover{
    cursor:pointer;
}
#navdiv{
    background:#555;
}
#treesvg{
    /*border:1px solid grey;*/
}
#labelpos{
    color:white;
}
#navdiv button, #navdiv textarea{
    vertical-align:middle;
}
#g_labels text{
    text-anchor:middle;
}
#g_elabels text{
    text-anchor:middle;
    fill:red;
    font-weight:bold;
}